@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #E9D9C0;
}

.about,
.menu-list,
.event-box,
.footer-inner,
.copyright {
    width: min(1000px, calc(100% - 20px));
    margin-left: auto;
    margin-right: auto;
}

.menu,
.gallery,
.event {
    margin-bottom: 144px;
}

.title {
    font-size: 40px;
    color: #D20202;
    margin: 0 0 32px;
    font-family: "Diplomata SC", serif;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.4%;
    position: absolute;
    top: 30.5px;
    left: 0;
    width: 100%;
}

.logo {
    width: 434px;
}

.pc-menu ul {
    display: flex;
    gap: 48px;

}

.pc-menu a {
    font-size: 16px;
    font-family: "Alatsi", sans-serif;
    color: #FFFFFF;
}

.main-visual {
    margin-bottom: 144px;
    width: 100%;
}

.main-visual img {
    width: 100%;
    height: auto;
    display: block;
}

.main-visual p {
    width: 100%;
    margin: 0;
}

/* intro */

.intro {
    text-align: center;
    margin-bottom: 144px;
}

.intro-lead {
    font-size: 26px;
    letter-spacing: 0.05em;
}

.intro-title {
    font-size: 64px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.intro p {
    margin-bottom: 40px;
}

.intro-text {
    font-size: 24px;
    line-height: 1.5;
}

/* about */
.about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 144px;
}

.about-image {
    width: 44%;
    border-bottom-right-radius: 64px;
    overflow: hidden;
    flex-shrink: 0;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-content {
    flex: 1;
}

.about-title {
    font-size: 40px;
    color: #D20202;
    margin: 0 0 40px;
    font-family: "Diplomata SC", serif;
}

.about-content h3 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
}

/* menu */

.menu-list {
    display: flex;
    gap: 32px;
}

.menu-card {
    flex: 1;
}

.menu-card img {
    border-radius: 0 32px 0 0;
}

.menu-card h3 {
    font-size: 26px;
    width: 31.2%;
    color: #D20202;
    font-family: "Diplomata SC", serif;
    margin-top: -12px;
}

.menu-card p {
    font-size: 14px;
    line-height: 1.8;
}

/* gallery */

.gallery-list {
    display: flex;
    width: 100%;
}

.gallery-list img {
    width: 20%;
}

/* EVENT */

.event-box {
    background-color: #FFFFFF;
    border: 1px solid #4F270B;
    padding: 32px 0;
    display: flex;
    justify-content: center;
}

.event-list {
    display: grid;
    row-gap: 16px;
}

.event-item a {
    display: grid;
    grid-template-columns: 136px 1fr;
    column-gap: 40px;
    font-size: 20px;
}


/* ACCESS */

.map {
    height: 353px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}


/* FOOTER */

.footer {
    padding: 80px 0 60px;
    background-color: #FFFFFF;
    margin: 0;
}

.footer-inner {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.footer-logo {
    width: 380px;
}

.footer-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-info dl {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 39px;
    row-gap: 16px;
    font-size: 12px;
    line-height: 1.8;
}

.copyright {
    font-size: 16px;
    line-height: 1.5;
}

.page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 140px;
}