@charset "UTF-8";

/* ユーザー設定に応じて余計な動きを軽減 */
@media (prefers-reduced-motion: no-preference) {
    html:focus-within {
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #E9D9C0;
}

.about,
.menu-list,
.event-box,
.footer-inner,
.copyright {
    width: min(1000px, calc(100% - 20px));
    margin-left: auto;
    margin-right: auto;
}

.intro,
.about,
.menu,
.gallery,
.event,
.main-visual {
    margin-bottom: 144px;
}

.title {
    font-size: 40px;
    color: #D20202;
    margin: 0 0 32px;
    font-family: "Diplomata SC", serif;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.4%;
    position: absolute;
    top: 30.5px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    width: 434px;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.pc-menu ul {
    display: flex;
    gap: 48px;

}

.pc-menu a {
    font-size: 16px;
    font-family: "Alatsi", sans-serif;
    color: #FFFFFF;
}

.main-visual {
    width: 100%;
}

.main-visual img {
    width: 100%;
    height: auto;
    display: block;
}

.main-visual p {
    width: 100%;
    margin: 0;
}

/* intro */

.intro {
    text-align: center;
}

.intro-lead {
    font-size: clamp(16px, 1.8vw, 26px);
    letter-spacing: 0.05em;
    margin-top: 132px;
}

.intro-title {
    font-size: clamp(31px, 4.4vw, 64px);
    line-height: 1.5;
    margin-bottom: 16px;
}

.intro p {
    margin-bottom: 40px;
}

.intro-text {
    font-size: clamp(16px, 1.66vw, 24px);
    line-height: 1.5;
}

.sp-br {
    display: none;
}

/* about */
.about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.about-image {
    width: 44%;
    border-bottom-right-radius: 64px;
    overflow: hidden;
    flex-shrink: 0;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-content {
    flex: 1;
}

.about-title {
    font-size: 40px;
    color: #D20202;
    margin: 0 0 40px;
    font-family: "Diplomata SC", serif;
}

.about-content h3 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 16px;
    font-weight: 400;
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
}

/* menu */

.menu-list {
    display: flex;
    gap: 32px;
}

.menu-card {
    flex: 1;
}

.menu-card img {
    border-radius: 0 32px 0 0;
}

.menu-card h3 {
    font-size: 26px;
    width: 31.2%;
    color: #D20202;
    font-family: "Diplomata SC", serif;
    margin-top: -12px;
}

.menu-card p {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 10px;
}

/* gallery */

.gallery-list {
    width: 100%;
}

.gallery-item {
    display: block;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-modal {
    max-width: 900px;
    padding: 40px 24px 24px;
    background-color: #fff;
}

.gallery-modal img {
    width: 100%;
    height: auto;
    display: block;
}

/* event */

.event-box {
    background-color: #FFFFFF;
    border: 1px solid #4F270B;
    padding: 32px 0;
    display: flex;
    justify-content: center;
}

.event-list {
    display: grid;
    row-gap: 16px;
}

.event-item a {
    display: grid;
    grid-template-columns: 136px 1fr;
    column-gap: 40px;
    font-size: 20px;
}


/* access */

.map {
    height: 353px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

/* footer */

.footer {
    padding: 80px 0 60px;
    background-color: #FFFFFF;
    margin: 0;
}

.footer-inner {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.footer-logo {
    width: 380px;
}

.footer-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-info dl {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 39px;
    row-gap: 16px;
    font-size: 16px;
    line-height: 1.8;
}

.footer-info dd {
    line-height: 1.5;
}

.copyright {
    font-size: 16px;
    line-height: 1.5;
}

.page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 140px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 100;
}

.page-top.show {
    opacity: 1;
    visibility: visible;
}


.hamburger,
.sp-menu {
    display: none;
}

/* スライダーの調整 */
.slick-dots {
    bottom: -65px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-dots li {
    margin: 0 22px;
}

@media screen and (max-width: 1100px) {

    .pc-menu {
        display: none;
    }

    .hamburger {
        display: block;
        height: 54px;
        width: 54px;
        position: absolute;
        top: -10.5px;
        right: 20px;
        cursor: pointer;
        z-index: 99999;
    }

    .hamburger span {
        display: block;
        width: 40px;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        left: 7px;
        top: 26px;
        transition: 0.3s;
    }

    .hamburger::before {
        content: "";
        width: 40px;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        left: 7px;
        top: 13px;
        transition: 0.3s;
    }

    .hamburger::after {
        content: "";
        width: 40px;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        left: 7px;
        bottom: 13px;
        transition: 0.3s;
    }

    .open span {
        background: transparent;
    }

    .open::after {
        top: 26px;
        transform: rotate(45deg);
    }

    .open::before {
        top: 26px;
        transform: rotate(135deg);
    }

    .sp-menu {
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(69, 69, 69, 0.9);
    }

    .sp-menu ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }

    .sp-menu a {
        display: block;
        text-align: center;
        font-size: 36px;
        color: #FFFFFF;
        font-family: "Alatsi", sans-serif;
    }

    .about-content h3 {
        font-size: 24px;
    }

}

/* スマホ画面 */

@media screen and (max-width: 767px) {

    .about,
    .menu-list,
    .event-box,
    .footer-inner,
    .copyright {
        width: calc(100% - 40px);
    }

    .intro,
    .about,
    .menu,
    .gallery,
    .event,
    .main-visual {
        margin-bottom: 88px;
    }

    .title {
        font-size: 32px;
    }

    .logo {
        width: 244px;
        position: relative;
        top: 5.5px;
    }

    /* intro */
    .intro-text {
        line-height: 2;
    }

    .sp-br {
        display: inline;
    }

    /* about */

    .about {
        display: block;
    }

    .about-title {
        font-size: 32px;
    }

    .about-image {
        width: 100%;
        border-bottom-right-radius: 0;
    }

    .about-content h3 {
        font-size: 24px;
    }

    .about-content {
        margin-top: 40px;
    }

    /* menu */

    .menu-list {
        display: block;
    }

    .menu-card {
        margin-bottom: 40px;
    }

    /* gallery */
    .gallery-list img {
        width: 100%;
    }

    /* event */
    .event-box {
        display: block;
        padding: 32px 20px;
    }

    .event-list {
        display: block;
        width: 100%;
    }

    .event-item {
        margin-bottom: 32px;
    }

    .event-item a {
        display: block;
        font-size: 16px;
    }

    .event-item time {
        display: block;
        margin-bottom: 8px;
    }

    .event-item span {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* access */
    .map {
        height: 240px;
    }

    /* footer */
    .footer {
        padding: 80px 0;
    }

    .footer-inner {
        display: block;
        margin-bottom: 80px;
    }

    .footer-logo {
        width: 326px;
        max-width: 100%;
        margin-bottom: 39px;
    }

    .footer-info dt {
        margin-bottom: 8px;
    }

    .footer-info dd {
        margin-bottom: 24px;
    }

    .footer-info dl {
        display: block;
    }

}